<!DOCTYPE html>
<html>
    <head>
        <title>About {{me}}</title>
    </head>
    <body>
        {{> header}}
        <main>
            <p>I'm {{me}}, {{age}} years old</p>
        </main>
        {{> footer}}
    </body>
</html>